/* Estilos para la sección "Ressurgir somos nosotros" */
.history-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.history-text {
    flex: 1;
    padding-right: 20px;
}

.history-text h1 {
    font-size: 3em; /* Tamaño grande del título */
    color: #333;
    margin-bottom: 20px;
}

.history-text p {
    font-size: 1.2em; /* Tamaño adecuado para el párrafo */
    color: #555;
}

.history-image {
    flex: 1;
    text-align: center;
}

.history-image img {
    width: 100%; /* Ocupa todo el ancho disponible del contenedor */
    max-width: 500px; /* Establece un tamaño máximo para la imagen */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Sombra sutil alrededor de la imagen */
}

@media screen and (max-width: 768px) {
    .history-container {
        flex-direction: column; /* Apila el texto y la imagen uno debajo del otro en pantallas pequeñas */
        text-align: center;
    }

    .history-text {
        padding-right: 0;
        padding-bottom: 20px; /* Espacio adicional debajo del texto */
    }

    .history-image img {
        max-width: 100%; /* Asegura que la imagen ocupe el ancho completo en pantallas pequeñas */
    }
}
/* Estilos del menú desplegable */
.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    position: relative;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    display: block;
}

.nav-links a:hover {
    background-color: #f0f0f0;
}

/* Estilo para el dropdown */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
    min-width: 200px;
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu a {
    padding: 10px 20px;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

/* Mostrar el menú desplegable al pasar el mouse */
.dropdown:hover .dropdown-menu {
    display: block;
}

