/* sobre-nosotros.css */



/* Estilos para la sección "Nuestro Equipo" */
.team-member {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.team-member img {
    width: 150px; /* Tamaño aumentado de la imagen */
    height: 150px; /* Tamaño aumentado de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    margin-right: 20px; /* Espacio adicional entre la imagen y la información */
    border-radius: 50%; /* Hace que la imagen sea redonda */
}

.team-info {
    flex: 1;
}

/* Estilos para la galería */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.gallery img {
    width: 100%;
    max-width: 300px; /* Ajusta el tamaño máximo de las imágenes */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}

/* Estilos para las secciones ocultables */
#mission-section, #values-section {
    display: none;
}

/* Animaciones */
.animate {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Oculta el contenido de las secciones por defecto */
.section-content {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* Transición suave al mostrar el contenido */
}

/* Muestra el contenido al pasar el mouse sobre la sección */
.section:hover .section-content {
    display: block;
    opacity: 1;
}

/* Estilo opcional para los encabezados de las secciones */
.section h2 {
    cursor: pointer; /* Cambia el cursor para indicar que es interactivo */
}

/* Estilos para el encabezado y pie de página */
header, footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.nav-links li {
    display: inline;
    margin: 0 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    padding: 10px;
}

.social-icons a {
    color: #fff;
    margin: 0 5px;
    text-decoration: none;
}
