<!-- footer.html -->
<div class="footer-container">
    <div class="footer-column">
        <h4>Visita nuestras Oficinas:</h4>
        <p>Edificio Altana Plaza Oficina 308, Av. La Coruña N25-58 y San Ignacio</p>
    </div>
    <div class="footer-column">
        <h4>Comunícate con nosotros</h4>
        <p><i class="fas fa-envelope"></i> info@haciendosecuador.org</p>
        <p><i class="fas fa-phone"></i> +593 99792 5595</p>
        <p><i class="fas fa-globe"></i> www.haciendosecuador.org</p>
    </div>
    <div class="footer-column">
        <h4>Nuestras Redes Sociales:</h4>
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
        </div>
    </div>
</div>
